nav button{
  margin-top: 8px;
  margin-right: 8px;
  float: right;
} 

nav {
  height: 45px;
  background-color: brown;  
}

.navmenu{
  display: inline-block;
  height: 100%; 
  padding: 8px;
}

.menudrop {
  position: relative;
  display: block;
    
}

.contentdrop {
  display: none;
  position: absolute;
  top: 48px;
  right: 0px;
  background-color: wheat;
}

.linkmenu{
  text-decoration: none;
  border: none;
  color: black;
}

.linkmenu:focus{
  background-color: white;
}
